/*------- flex-main-container ----------*/

header#site-header {
	width: 1280px;
	height: 85px;
	border: 1px solid black;
	display: flex;
	align-items: center;
}

header#site-header div#logo {
	flex: 1;
	border: 1px solid black;
}

header#site-header div#logo img {
	border: 1px solid red;
	flex-direction: row;
	width: 125px;
	height: 50px;
	margin: auto;
}

header#site-header div#link-header {
	flex: 1;
}

header#site-header div#link-header a {
	padding-right: 30px;
	color: black;
	display: flex;
	align-items: flex-start;
	text-decoration: none;
}