body {
	margin: 0;
}

h1, h2 {
	font-family: 'Amatica SC', cursive;
	font-weight: 700;
	text-align: center;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.container {
	flex: 1;
}

header {
	background-color: skyblue;
	height: 70px;
	text-align: center;
	color: #4f889f;
	padding: 1px;
}

.container div {
	padding: 1%;
	box-sizing: border-box;
	min-height: 500px;
}

.left-col, .right-col {
	width: 25%;
	float: left;
}

.center-col {
	width: 50%;
	float: left;
}

footer {
	clear: both;
	font-family: 'Amatica SC', cursive;
	height: 50px;
	background-color: skyblue;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
}